asgiref==3.7.2
Django==5.0.3
django-filter==23.5
django-js-asset==2.2.0
djangorestframework==3.14.0
djangorestframework-recursive==0.1.2
gunicorn==21.2.0
packaging==24.0
pillow==10.2.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.10.0
