asgiref==3.7.2
diploma-frontend @ file:///Users/svetlanaskobeltcyna/PycharmProjects/Skillbox/python_django_diploma/diploma-frontend/dist/diploma-frontend-0.6.tar.gz#sha256=93b75885569921f9325130a6bca1a5dba2108aa89202ef50619851820712cf07
Django==5.0.3
django-filter==23.5
django-js-asset==2.2.0
djangorestframework==3.14.0
djangorestframework-recursive==0.1.2
gunicorn==21.2.0
packaging==24.0
pillow==10.2.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.10.0
